<section class="about-join">
  <div class="container about-join__container">
    <h2 class="heading-h2 about-join__title">Join our team, The one with the master touch</h2>
    <div class="about-join__info">
      <p class="text-p-medium about-join__desc">We believe it takes great people to make a great product. That's why we hire not only the perfect professional fits, but people who embody our company values.</p>
      <a href="#" class="about-join__link">See Open Position &rarr;</a>
    </div>
  </div>
</section>
