<section class="categories">
  <div class="container categories__container">
    <ul class="categories__list">
      <li class="categories__item">
        <button class="categories__link categories__link--active" data-category="all">View all</button>
      </li>
      <li class="categories__item">
        <button class="categories__link" data-category="design">Design</button>
      </li>
      <li class="categories__item">
        <button class="categories__link" data-category="articles">Articles</button>
      </li>
      <li class="categories__item">
        <button class="categories__link" data-category="product">Product</button>
      </li>
      <li class="categories__item">
        <button class="categories__link" data-category="software">Software Development</button>
      </li>
      <li class="categories__item">
        <button class="categories__link" data-category="customer">Customer Success</button>
      </li>
    </ul>
  </div>
</section>
