<section class="featured">
  <div class="container featured__container">
    <div class="featured__grid">

      <div class="featured__col">
        <a href="/coca/detail.html" class="featured__card-link featured__card-link--large">
          <div class="featured__card">
            <div class="featured__card-image">
              <img src="./image/blog/content1.jpg" alt="How we perform long-running tasks using AWS services" />
            </div>
            <h3 class="featured__card-title">How we perform long-running tasks using AWS services</h3>
            <p class="featured__card-desc">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
          </div>
        </a>

        <a href="/coca/detail.html" class="featured__card-link">
          <div class="featured__card">
            <div class="featured__card-image">
              <img src="./image/blog/content3.jpg" alt="Layout Exploration — Simple exercise but big effect" />
            </div>
            <h3 class="featured__card-title">Layout Exploration — Simple exercise but big effect</h3>
            <p class="featured__card-desc">Make alternatives or other options for the design we are making. For example, we are creating a website design. Then there is the testimonial section.</p>
          </div>
        </a>
      </div>

      <div class="featured__col">
        <a href="/coca/detail.html" class="featured__card-link">
          <div class="featured__card">
            <div class="featured__card-image">
              <img src="./image/blog/content2.jpg" alt="How to ask when doing User Research" />
            </div>
            <h3 class="featured__card-title">How to ask when doing User Research</h3>
            <p class="featured__card-desc">Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?</p>
          </div>
        </a>

        <a href="/coca/detail.html" class="featured__card-link">
          <div class="featured__card">
            <div class="featured__card-image">
              <img src="./image/blog/content4.jpg" alt="Webflow Break the Coding Barrier" />
            </div>
            <h3 class="featured__card-title">Webflow Break the Coding Barrier</h3>
            <p class="featured__card-desc">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
