<section class="detail-hero">
  <div class="container detail-hero__container">
    <h1 class="heading-h1 detail-hero__title">How we perform long-running tasks using AWS services</h1>

    <div class="detail-hero__meta">
      <div class="detail-hero__author">
        <img class="detail-hero__author-avatar" src="./image/detail blog/comment-author-1.jpg" alt="Renee Wells" />
        <div class="detail-hero__author-info">
          <span class="detail-hero__author-name">Renee Wells</span>
          <span class="detail-hero__author-role">Product Designer, Quotient</span>
        </div>
      </div>
      <div class="detail-hero__info">
        <span>10 min read</span>
        <span>November 10, 2023</span>
      </div>
    </div>

    <div class="detail-hero__image">
      <img src="./image/detail blog/content1.jpg" alt="How we perform long-running tasks using AWS services" />
    </div>
  </div>
</section>
